*,
*::after,
*::before {
  box-sizing: border-box;

}


body {
  margin: auto;
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.topp {
  position: relative;
  top: 169px;
}

.topp img {
  width: 394px;
  height: 303px;
}

.images {
  display: flex;
  align-items: center;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -250px;
}

.side {
  width: 300px;
  height: 300px;
}

.midinfo {
  flex: 1 1 100%;
  text-align: center;
}

.midinfo h1 {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 64px;
  color: #28283D;
}

.midinfo p {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #87879D;
  padding-top: -2px;
}

.buttons {
  margin-top: 20px;
}

.down,
.what {
  font-size: 16px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 70px;
  border-radius: 29px;
  font-weight: 900;
}

.down {
  background-color: #4D96A9;
}

.what {
  background-color: #855FB1;
}
.what:hover{
  background-color: #D9B8FF;
}

.down:hover{
  background-color: #8FE3F9;
}

.down span {
  font-size: 15px;
  font-weight: 900;
  margin-left: 5px;
  color: #8FE3F9;
}

.one{
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: #87879D;
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #87879D;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
}



.oww{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 400px;
}

.vertical-line {
  width: 1px;
  height: 75px;
  background-color: #87879D;
}

.two{
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  background-color: #FAFAFA;
  color: #87879D;
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #87879D;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
}



.oww2{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 180px;
  margin-bottom: 20px;
}

.vertical-line2 {
  width: 1px;
  height: 75px;
  background-color: #87879D;
}


.midimgs {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 1110px;
  height: 242px;
  margin: 0 auto;
  margin-top: 130px;
  max-width: 100%;
  aspect-ratio: 16/9;
}

.midimgs > img {
  border-radius: 10px;
  max-width: 100%;
  position: relative;
  
}

.lowertext {
  position: relative;
  width: 540px;
  height: 240px;
  margin: 0 auto;
  margin-top: 80px;
}

.lowertext span {
  position: absolute;
  height: 26px;
  left: 0;
  right: 0;
  padding-top: 25px;
  font-family: 'Red Hat Display';
  font-weight: 900;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #4D96A9;
}


.lowertext h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 17.5%;
  bottom: 45.83%;
  font-family: 'Red Hat Display';
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #28283D;
}

.lowertext p {
  position: absolute;
  left: 0;
  right: 0;
  top: 67.5%;
  bottom: 0;
  font-family: 'Red Hat Display';
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #87879D;
  margin: 0;
  padding-top: 16px;
}

.footer {
  background: url('./assets/desktop/image-footer.jpg');
  position: relative;
  z-index: -1;
  margin-top: 250px;
  margin-top: -50px;
}

.foottext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 60px;
}

.foottext h1 {
  font-family: 'Red Hat Display';
  font-weight: 900;
  font-size: 30px;
  line-height: 44px;
  color: #FAFAFA;
  margin: 0;
}

.foottext p {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #FAFAFA;
  margin: 0;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4D96A9;
  opacity: 0.85;
  z-index: -1;
}

.downloadf {
  background-color: #855FB1;
  border-radius: 30px;
  text-decoration: none;
  padding: 8px 15px;
  color: #fff;
  font-family: 'Red Hat Display';
  font-weight: 900;
  font-size: 16px;
  font-style: normal;
  color: #FFFFFF;
}

.downloadf:hover{
  background-color: #D9B8FF;
}

.fbutton span {
  font-family: 'Red Hat Display';
  font-weight: 900;
  font-size: 16px;
  color: #D9B8FF;
}

@media only screen and (max-width: 1100px){

  .midimgs {
    position: relative;
    width: 689px;
    height: 156px;
    padding: 70px;
  }
  
  .midimgs img {
    width: 164px;
    height: 158px;
  }


  .foottext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 60px;
    text-align: center;
    gap: 50px;
  }

  .foottext h1{
    font-size: 40px;
    line-height: 44px;
  }

  .foottext p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }

  .fbutton{
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
  }


  .lowertext {
    position: relative;
    top: 70px;
      width: 90%;
    
    }
  

  
  .lowertext span {
    font-size: 16px;
  }
  
  
  .lowertext h1 {
    font-size: 40px;
  }
  
  .lowertext p {
    font-size: 16px;
  }

  .buttons{
    display: flex;
    gap: 20px;
    width: 139px;
    height: 58px;
    font-size: 16px;
    justify-content: center;
    left: 210px;
  }

  .down ,.what{
    font-size: 16px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 300px;

  }

  
  .images {
    position: relative;
    background-image: url('./assets/tablet/image-hero.png');
    background-repeat: no-repeat;
    width: 100%;
  }
  
  .images img {
    display: none;
  }

  .oww{
    position: relative;
    top: 130px;
    font-size: 16px;
  }

  .footer {
    background: url('./assets/desktop/image-footer.jpg');
    position: relative;
    z-index: -1;
    margin-top: 250px;
    margin-top: -50px;
  }

}