    *{
      font-family: 'Red Hat Display', sans-serif;
    }
    
    .container {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-gap: 20px;
      align-items: center;
      width: 100%;
      padding-top: 50px;
    }
    
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .limage-left {
      grid-column: 1 / 2;
    }
    
    .image-right {
      grid-column: 3 / 4;
    }
    
    .text {
      grid-column: 2 / 3;
      text-align: center;
      font-family: 'Red Hat Display', sans-serif;  
    }

    .text > h1{
      font-weight: 900;
      color:#28283D;
      font-size:xx-large;
    }

    .text > p{
      color:#28283D;
      font-size: small;
    }


    .logo{
        text-align: center;
        padding-top: 40px;
    }

    .download{
        background-color: #4D96A9;
        border-radius: 30px;
        text-decoration: none;
        padding: 8px 15px;
        font-weight: 600;
        color: #fff;
        font-size: medium;
        text-decoration: none;
    }

    .what{
      font-weight: 600;
      color: #fff;
      padding: 8px 15px;
    }

    h1 p{
      color:#28283D;
    }

    .built{
      color: #4D96A9;
    }

    .group{
      font-weight: 900;
      color:#28283D;
      font-size:xx-large;
    }

    .smart{
      font-weight: 900;
      color:#28283D;
      font-size:xx-large;
    }

    .send{
      color:#87879D;
    }
    .what{
        background: #855FB1;
        border-radius: 30px;
        text-decoration: none;
        padding: 8px 15px;
    }

  .buttons{
      justify-content: center;
      padding-top: 20px;
      display: flex;
      display: space-between;
      padding: -15%;
    }

    .download:hover{
      background-color: #BFE3F9;
    }
    .what:hover{
      background-color: #D9B8FF;
    }

    .buttons a {
      margin: 0 10px; /* Add some spacing between the buttons */
    }

    .midimages{
        display: flex;
        justify-content: center;
        padding-top: 200px;
    }

    .circle{
      border: 2px solid #87879D;
      color: #87879D;
      border-radius: 50%;
      text-align: center;
      width: 50px;
      height: 50px;
      font-size: 24px;
      line-height: 50px;
      align-items: center;
      display: flex;
      justify-content: center;
      display: absolute;
      font-weight: bold;
      position: absolute;
      left: 50%;
      top: 560px;
    }

    .circle::before{
      content: "";
      display: block;
      border-left: 2px solid #87879D;
      height: 70px;
      position: absolute;
      bottom: 50px;
    }

    .circle2{
      border: 2px solid #87879D;
      color: #87879D;
      border-radius: 50%;
      text-align: center;
      width: 50px;
      height: 50px;
      font-size: 24px;
      line-height: 50px;
      align-items: center;
      display: flex;
      justify-content: center;
      display: absolute;
      font-weight: bold;
      position: absolute;
      left: 50%;
      top: 1420px;
      z-index: 3;
      background-color: #fafafa;
    }

    .circle2::before{
      content: "";
      display: block;
      border-left: 2px solid #87879D;
      height: 70px;
      position: absolute;
      bottom: 50px;
    }
    .midimages > img {
        width: 15%;
        line-height: 75px;
        margin: 10px;
        border-radius: 3%;
      }

      .iop{
        text-align: center;
        padding: 200px;
        position: relative;
        top: -20px;
      }

      .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: url('./assets/desktop/image-footer.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        position: relative;
        background-position: center;
        width: 100%;
        height: auto;
        z-index: 2;
      }
      
       .foottext {
        flex: 1;
        align-items: center;
        color: #fff;
        display: flex;
        padding: 60px;
        width: 100%;
        height:100%;
        justify-content: space-between;
      }

      .footer::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4D96A9;
        opacity: 85%;
        z-index: -1;
      }

      .downloadf{
        background-color: #855FB1;
        border-radius: 30px;
        text-decoration: none;
        padding: 8px 15px;
        color: #fff;
      }

      .downloadf:hover{
        background-color: #D9B8FF;
      }


      /* Tablet version */
  @media only screen and (max-width: 70em) {
      .container{
        background-image: url('./assets/tablet/image-hero.png'); 
        background-position: center 60px;
        background-size: contain;
        z-index: 2;
        display:flex;
        flex-direction: column;
        justify-content: center;
        background-repeat: no-repeat;
      }

      .middleels{
        position: relative;
        top: -300px;
      }
      
      .text > p{
        font-size: small;
      }

      .image-right {
          display: none;
  }

      .midimages{
        position: relative;
        top: -200px;
      }

      .iop{
        position: relative;
        top: -350px;
        justify-content: center;
        flex-direction: column;
        font-size: medium;
      }

      .footer{
        position: relative;
        top: -400px;
      }

      .text{
        margin-top: 190%;
      }


      .image-left {
        display: none;
      }

      .footer{
        background-image: url('./assets/tablet/image-footer.jpg');
        background-position: 100%;
      }

      .text{
        padding-top: 30px;
      }

      body{
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        min-width: 320px;
        min-height: 240px;
        max-height: 100%;
      }


      .circle2{
        border: 2px solid #87879D;
        color: #87879D;
        border-radius: 50%;
        text-align: center;
        width: 35px;
        height: 35px;
        font-size: 10px;
        line-height: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
        display: absolute;
        font-weight: bold;
        position: absolute;
        top: 1590px;
        z-index: 3;
        background-color: #fafafa;
      }

      .circle2::before{
        content: "";
        display: block;
        border-left: 2px solid #87879D;
        height: 50px;
        position: absolute;
        bottom: 37px;
      }

      .circle{
        border: 2px solid #87879D;
        color: #87879D;
        border-radius: 50%;
        text-align: center;
        width: 35px;
        height: 35px;
        font-size: 10px;
        line-height: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
        font-weight: bold;
        position: absolute;
        top: 900px;
      }
  
      .circle::before{
        content: "";
        display: block;
        border-left: 2px solid #87879D;
        height: 50px;
        position: absolute;
        bottom: 37px;
      }

      .foottext{
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }



}


/* mobile version */
@media only screen and (max-width: 45em) {
  .container{
    background-image: ('./assets/tablet/image-footer.jpg');
    background-position: center top 50px;
    background-size: contain;
    align-items:center; 
    background-size: contain; 
    width: 100%; 
    z-index: 2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
  }

  .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

  }

  .buttons > .what{
    margin-top: 20px;
  }

 .image-right {
    display: none;
  }

  .image-left {
    display: none;
  }

  .logo{
    text-align: center;
    padding-top: 10px;
    padding: 20px;
}

  .midimages{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -500px;
  }

  .midimages > img {
    width: 40%;
    justify-content: center;
  
  }

  .middleels{
      position: relative;
      top: -500px;
      justify-content: center;
      }
      
      .text {
        font-size: x-small;
      }


  .iop{
    flex-direction: column;
    font-size: medium;
    text-align: center;
    padding: 80px;
    width: 65vw;
    justify-content: center;
    position: relative;
    top: -570px;
    font-size: x-small;
  }

  .send{
    font-size: x-small;
  }

  .smart{
    font-size: x-large;
  }

  .footer{
    background-image: url('./assets/mobile/image-footer.jpg');
    position: relative;
    margin-bottom: -100px;

  }

    .foottext{
      font-size: x-small;
      justify-content: center;
    }

  .circle{
    border: 2px solid #87879D;
    color: #87879D;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    top: 650px;
  }

  .circle::before{
    content: "";
    display: block;
    border-left: 2px solid #87879D;
    height: 50px;
    bottom: 37px;
  }

  .circle2{
    border: 2px solid #87879D;
    color: #87879D;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    display: absolute;
    font-weight: bold;
    position: absolute;
    top: 1520px;
    z-index: 3;
    background-color: #fafafa;
  }

  .circle2::before{
    content: "";
    display: block;
    border-left: 2px solid #87879D;
    height: 50px;
    position: absolute;
    bottom: 37px;
  }

}